.appTitle{
    padding-bottom: 10px;
    font-family: 'Poppins';
}
.search{
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.fire{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
}
.accordian{
    font-size: 14px;
}
.map{
    width: 400px;
}
p{
    font-size: 15px;
}

.about{
    padding-top: 50px;
    max-width: 550px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.articleCard{
    padding: 25px 25px 50px 25px;
    background-color: white;
    color: #171a23;
    border-radius: 10px;
    max-width: 600px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    position: relative;
    transition: all .1s ease-in-out; 
    cursor: default;
}
.articleCard:hover{
    transform: scale(1.02);
}
.articleTitle{
    padding-bottom: 5px;
}

.readMoreButton{
    background-color: #171a23;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
    padding: 8px 12px 8px 12px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.readMoreButton:hover{
    background-color:#32384b;
}
.readMoreText{
    color: white;
}

.seeTweetButton{
    background-color: #1DA1F2;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
    padding: 8px 12px 8px 12px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.loading{
    margin-top: 25px;
    width: 100px;
}