.appTitle{
    padding-bottom: 10px;
    font-family: 'Poppins','Inter';
}
.search{
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.fire{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;

    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.fire{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}

.accordian{
    font-size: 14px;
}
.map{
    width: 400px;
}
p{
    font-size: 15px;
}

.inputOuter{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
.inputField{
    max-width: 500px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display:block;
    color: #171a23;
    border-radius: 8px 0px 0px 8px;
    border: none;
    margin-bottom: 40px;
}

.inputButton{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    transition: 0.3s;
    padding-right: 10px;
}

.inputButton:hover{
    background-color: #ebeef2;

}

.inputIcon{
    width: 20px;
}

.inputField:focus{
    outline: none;
}

.about{
    padding-top: 50px;
    max-width: 550px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.articleCard{
    padding: 25px 25px 50px 25px;
    background-color: white;
    color: #171a23;
    border-radius: 10px;
    max-width: 600px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    position: relative;
    transition: all .1s ease-in-out; 
    cursor: default;

    
}
.articleCard:hover{
    transform: scale(1.02);
}

a {
    text-decoration: none !important;
}
.articleTitle{
    padding-bottom: 5px;
}

.readMoreButton{
    background-color: #171a23;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
    padding: 8px 12px 8px 12px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    outline: none;
    transition: .3s;
    border: 2px solid transparent;
}

.readMoreButton:hover{
    background-color:#3a4259/*32384b;/*252a38;*/
}

.readMoreButton:active{
    background-color: #444d69;
}

.readMoreButton:focus{
    /*border: 2px solid #2f6fad;*/
}

.readMoreText{
    color: white;
}

.seeTweetButton{
    background-color: #1DA1F2;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
    padding: 8px 12px 8px 12px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    outline: none;
    transition: .3s;
    border: 2px solid transparent;
}

.seeTweetButton:hover{
    background-color:#168fd9;/*39a9ed;*/
}

.seeTweetButton:active{
    background-color: #137bba;/*59b7f0;*/
}

.seeTweetButton:active{
    /*border: 2px solid #1DA1F2;*/
}

.loading{
    margin-top: 25px;
    width: 100px;
    margin-bottom: 25px;
}

.link{
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.link:hover{
    color: #ffccd0;
    border-bottom: 2px solid #ffccd0;
}

.link:focus {
    color: #ffccd0;
    border-bottom: 2px solid #ffccd0;
}

.actions {
    position: absolute;
    left: 20px;
    bottom: 15px;
    margin-left: 20px;
}
.action{
    height: 25px;
    margin-right: 20px;
}
.action:hover{
    opacity: .5;
    transition: 0.1s;

}

/*.intents{
    display:flex;
}

.intent {
    height: 25px;
    

}
.intent:hover{
    opacity: .5;
    transition: 0.2s;

}*/

.timestamp {
    position: absolute;
    right: 25px;
    bottom: 15px;
    color: #72828F;
    /*color: #AAB8C2;*/
}

.avatar {
    height: 45px;
    border-radius: 22px;
    margin-right: 15px;
}

.twitter-logo {
    height: 30px;
    position: absolute;
    right: 25px;
    top: 30px;
}

.twitter-header{
    display: flex;
    margin-bottom: 10px;
}

.username {
    color: #72828F;
}

.twitter-bio {
    line-height: 10px;
}


#pointer {
    cursor: pointer;
}

@media (max-width: 430px) {
    .fire{
      height: 0px;
    }

    .inputOuter{
        margin-top: 10px;
    }
  }
