.flexGrid{
    display: flex;
}

.col{
    flex: 1;
}

.flexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flexBox{
    position: relative;
    top: 0;
    max-width: 650px;
    width: 100%;

}