@import "./styles/fonts.css";
@import "./styles/components.css";
@import './styles/dividers.css';
@import './styles/flex.css';

.App {
  font-family: 'Inter','Poppins', sans-serif;
  text-align: center;
  background-color: #FF4757;/*#171a23;*/
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;

  color: white;
  position: relative;
}

.landingTitle{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  color: #FF4757;
  background: white;
  position: relative;
}

.landingBody{
  padding-top: 50px;
  /*width: 100%;*/

  font-size: 20px;
}

.footer{
  padding-top: 50px;
  padding-bottom: 25px;
}