@import "./styles/fonts.css";
@import "./styles/components.css";
@import './styles/dividers.css';
@import './styles/flex.css';

.App {
  font-family: 'Inter','Poppins', sans-serif;
  text-align: center;
  background-color: #FF4757;/*#171a23;*/
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;

  color: white;
  position: relative;
}

.landingTitle{
  padding-top: 80px;
  padding-bottom: 100px;
  color: #FF4757;
  background: white;
  position: relative;
}

.landingBody{
  padding-top: 50px;
  /*width: 100%;*/

  font-size: 20px;
}

.container{
  min-height: calc(100vh - 70px)
}

.aqiOuter{
  display: flex;
  justify-content: center;
}

.aqiSection{
  font-family: 'Share Tech Mono', monospace;
  text-align: left;

  margin-left: 20px;
  margin-right: 20px;

  padding-bottom: 30px;
}

.aqiNearby{
  opacity: 0.7;
  padding-top: 10px;
}
.footer{
  padding-top: 25px;
  line-height: 21px;
  padding-bottom: 25px;
}